$bgcolor: lightblue;
$textcolor: black;
$fontsize: 18px;

body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
  div{
    background-color: green;
    p{
      background-color: pink;
    }
  }
  p{
    background-color: yellow;
  }
}         